{:paths ["src" "resources"]
 :deps {bidi/bidi {:mvn/version "2.1.6"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps  {hashp/hashp {:mvn/version "0.2.2"}
                      nrepl/nrepl {:mvn/version "1.1.0-alpha1"}
                      org.clojure/tools.namespace {:mvn/version "1.4.1"}}
        :main-opts   ["-m" "nrepl.cmdline"]}
  :run {:exec-fn app.main/-main}}}
